.form-footer {
	padding: 20px 0;
    border-top: solid 1px #ddd;
    margin: 30px 0 0 0;
    text-align: right;
}
.part-pagination {
    text-align: center;
    margin: 20px 0;
}
.link-delete {
    text-align: left;
}
.link-delete > a {
    color: #E40000 !important;
    text-decoration: underline !important;
    position: relative;
    top: 8px;
    font-size: 14px;
}
.link-delete > a:hover{
	color: #FF0000 !important;
    text-decoration: underline !important;
}
.part-pagination-customer{
    text-align: right !important;
}
@media(max-width: 767px){
	.link-delete{
		margin: 0 0 10px 0;
	}
	.link-delete > a {
		position: inherit;
		top: 0;
	}
    .part-pagination-customer{
        text-align: center !important;
    }
}
.panel-category > .panel-heading {
    padding: 10px !important;
    min-height: auto !important;
    -webkit-box-shadow: 0 0 2px #C3C3C3 !important;
    -moz-box-shadow: 0 0 2px #C3C3C3 !important;
    box-shadow: 0 0 2px #C3C3C3 !important;
}
.panel-body-category{
    padding: 10px !important;
}
.product-img {
    max-width: 100%;
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.product-wrap {
    padding: 15px 0;
    border: solid 1px #ddd;
    margin: 15px 0 0 0;
    border-radius: 3px;
}
.product-title {
    font-size: 15px;
    color: #444;
}
.product-cat {
    font-size: 13px;
}
@media(max-width: 767px){
    .product-img {
        width: 150px !important;
        height: 150px !important;
        margin-bottom: 10px;
    }
    .row-cat{
        display: inline-block;
    }
    .row-feature{
        padding: 0 15px;
        margin: 10px 0;
    }
}
.input-error{
    border-color: #a94442 !important;
}
.is-error{
    font-size: 13px;
    display: none;
    margin: 5px 0;
    color: #a94442;
}
.product-btn > .btn {
    position: fixed;
    bottom: 180px;
    z-index: 100;
}
.product-btn {
    height: 40px;
}